.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Custom CSS for Vintage 90s Style */

/* Body Styles */
body {
  background-color: #f7765a;
  color: #141414;
  font-family: 'Courier New', Courier, monospace; /* Retro font */
}

/* Navbar Styles */
.navbar {
  background-color: #ffe28a !important;
}

.navbar-brand {
  color: #141414 !important; /* Dark gray */
  font-size: 24px;
}

.navbar-nav .nav-link {
  color: #141414 !important; /* Dark gray */
  font-size: 18px;
  padding: 10px 20px;
}

.navbar-nav .nav-link:hover {
  color: #6fcb9f !important; /* Yellow */
}

/* Button Styles */
.btn {
  background-color: #fffeb3; /* Light yellow */
  color: #454545;
  border: none;
}

.btn:hover {
  background-color: #ffe28a; /* Yellow */
  color: #454545;
}

/* Form Styles */
.form-control {
  background-color: #f7765a !important; /* Light pink */
  color: #141414 !important; /* Dark gray */
}

/* Input Styles */
input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
  background-color: #fffeb3 !important; /* Light pink */
  color: #141414 !important; /* Dark gray */
  border: 1px solid #ffe5b0 !important; /* Light yellow */
}

/* Footer Styles */
.footer {
  background-color: #fffeb3;
  color: #454545;
  text-align: center;
  padding: 20px 0;
}

/* Add more custom styles as needed */
