.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Custom CSS for Vintage 90s Style */

:root {
  --dark-yellow: #dfca5a;
  --light-yellow: #fffeca;
  --light-green: #d0eaab;
  --light-grey: #ccc;
  --dark-pink: #ca5bbd;
  --light-pink: #fdcaf7;
}

/* Body Styles */
body {
  background-color: var(--light-green);
  color: #141414;
  font-family: 'Courier New', Courier, monospace; /* Retro font */
}

/* Navbar Styles */
.navbar {
  background-color: var(--dark-yellow) !important;
  box-shadow: 0px 1px 5px #333;
}

.navbar-brand {
  color: #141414 !important; /* Dark gray */
  font-size: 24px;
}

.navbar-nav .nav-link {
  color: #141414 !important; /* Dark gray */
  font-size: 18px;
  padding: 10px 20px;
}

.navbar-nav .nav-link:hover {
  color: var(--dark-yellow);
}

/* Button Styles */
.btn {
  background-color: var(--light-yellow);
  color: #454545;
  border: none;
}

.btn:hover {
  background-color: var(--light-pink);
  color: #454545;
}

/* Form Styles */
.form-control {
  color: #141414 !important; /* Dark gray */
}

/* Input Styles */
input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
  background-color: var(--light-pink);
  color: #141414 !important; /* Dark gray */
  border: 1px solid var(--light-yellow)
}

/* Footer Styles */
.footer {
  background-color: var(--dark-yellow);
  color: #454545;
  text-align: center;
  padding: 20px 0;
}

.nav-link {
  margin-right: 20px; /* Adjusts the space between navigation links */
}

.nav-link:hover {
  color: var(--dark-pink) !important;
}

.user-greeting {
  margin-left: auto; /* Pushes the greeting section to the far right */
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.user-logout-link {
  padding-left: 5px; /* Optional: Adjusts space between the username and the Logout link */
}

.modal-content {
  background-color: var(--light-pink);
}